<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmap.core.hms.contact.mapper.HmsDeptMapper">

    <resultMap id="BaseResultMap" type="hmap.core.hms.contact.domain.HmsDept">
        <id column="DEPT_ID" property="deptId" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR"/>
        <result column="DEPT_NUMBER" property="deptNumber" jdbcType="BIGINT"/>
        <result column="PARENT_DEPT_NUMBER" property="parentDeptNumber" jdbcType="BIGINT"/>
        <result column="SOURCE_CODE" property="sourceCode" jdbcType="VARCHAR"/>
        <result column="SOURCE_LINE_ID" property="sourceLineId" jdbcType="VARCHAR"/>
        <result column="SOURCE_REFERENCE" property="sourceReference" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
        <result column="TOTAL_STAFF_NUMBER" property="totalStaffNumber" jdbcType="BIGINT"/>
        <result column="DEPT_PINYIN" property="deptPinyin" jdbcType="VARCHAR"/>
        <result column="DEPT_PINYIN_CAPITAL" property="deptPinyinCapital" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="BIGINT"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="BIGINT"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="BIGINT"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="BIGINT"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="SimpleResultMap" type="hmap.core.hms.contact.dto.HmsDeptSimpleInfoDTO">
        <result column="DEPT_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DEPT_NUMBER" property="id" jdbcType="BIGINT"/>
        <result column="PARENT_DEPT_NUMBER" property="parentId" jdbcType="BIGINT"/>
    </resultMap>

    <delete id="deleteAll">
		delete from hms_dept where 1=1
	</delete>
    <select id="selectAllDept" resultMap="SimpleResultMap">
		select dept_number, parent_dept_number, dept_name from hms_dept
	</select>
    <select id="selectChildren" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
		SELECT * FROM hms_dept WHERE PARENT_DEPT_NUMBER = #{dept_number,jdbcType=BIGINT} order by dept_name
	</select>
    <select id="selectByDeptNumber" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
		SELECT * FROM hms_dept WHERE DEPT_NUMBER = #{dept_number,jdbcType=BIGINT}
	</select>
    <select id="selectPendingForWx" resultMap="BaseResultMap">
		SELECT * FROM hms_dept WHERE ATTRIBUTE10 = 'PENDING' OR ATTRIBUTE10 IS NULL;
	</select>
    <delete id="deleteByDeptNumber" parameterType="java.lang.Long">
        <!-- WARNING - @mbggenerated This element is automatically generated by
            MyBatis Generator, do not modify. This element was generated on Thu May 05
            18:22:10 CST 2016. -->
        delete from hms_dept
        where dept_number = #{dept_number,jdbcType=BIGINT}
    </delete>

</mapper>

