<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="hmap.core.hms.feedback.mapper.HmsFeedbackReplyMapper" >
        <resultMap id="FeedbackReplyMap" type="hmap.core.hms.feedback.dto.HmsFeedbackReplyDTO" >
                <result column="FEEDBACK_ID" property="feedbackId" jdbcType="VARCHAR"/>
                <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
                <result column="REPLY_DATA" property="replyData" jdbcType="VARCHAR"/>
                <result column="REPLY_DATE" property="replyDate" jdbcType="VARCHAR"/>
                <result column="REPLY_FLAG" property="replyFlag" jdbcType="BIGINT"/>
                <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        </resultMap>

        <resultMap id="User" type="com.hand.hap.account.dto.User">
                <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
                <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
                <result column="USER_TYPE" property="userType" jdbcType="VARCHAR"/>
        </resultMap>
        <select id="selectReplyByFeedbackId" resultMap="FeedbackReplyMap" parameterType="java.lang.String">
                SELECT f.*,s.USER_NAME FROM hms_feedback_reply f,sys_user s where f.USER_ID = s.USER_ID AND f.FEEDBACK_ID= #{feedbackId,jdbcType=VARCHAR} ORDER  BY  f.REPLY_DATE DESC
        </select>

        <select id="selectUserIdByUserName" resultMap="User" parameterType="java.lang.String">
                SELECT * FROM  sys_user  WHERE  USER_NAME=#{userName,jdbcType=VARCHAR}
        </select>
        <update id="reply" parameterType="hmap.core.hms.feedback.domain.HmsFeedbackReply">
              update hms_feedback_reply SET REPLY_FLAG = 1 WHERE FEEDBACK_ID=#{feedbackId,jdbcType=VARCHAR} AND USER_ID !=#{userId,jdbcType=BIGINT}
        </update>


        </mapper>
