<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmap.core.hms.contact.mapper.HmsStaffMapper">


	<resultMap id="BaseResultMap" type="hmap.core.hms.contact.domain.HmsStaff">
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="gender_id" property="genderId" jdbcType="BIGINT" />
		<result column="department_id" property="departmentId" jdbcType="BIGINT" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
		<result column="wx_number" property="wxNumber" jdbcType="VARCHAR" />
		<result column="enable_flag" property="enableFlag" jdbcType="VARCHAR" />
		<result column="EMP_STATUS" property="empStatus" jdbcType="VARCHAR" />
		<result column="object_version_number" property="objectVersionNumber" jdbcType="BIGINT" />
		<result column="home_town" property="homeTown" jdbcType="VARCHAR" />
		<result column="NAME_Pinyin" property="namePinyin" jdbcType="VARCHAR" />

		<result column="NAME_Pinyin_CAPITAL" property="namePinyinCapital" jdbcType="VARCHAR" />
		<result column="attribute1" property="attribute1" jdbcType="VARCHAR" />
		<result column="attribute2" property="attribute2" jdbcType="VARCHAR" />
		<result column="attribute3" property="attribute3" jdbcType="VARCHAR" />
		<result column="attribute4" property="attribute4" jdbcType="VARCHAR" />
		<result column="attribute5" property="attribute5" jdbcType="VARCHAR" />
		<result column="attribute6" property="attribute6" jdbcType="VARCHAR" />
		<result column="attribute7" property="attribute7" jdbcType="VARCHAR" />
		<result column="attribute8" property="attribute8" jdbcType="VARCHAR" />
		<result column="attribute9" property="attribute9" jdbcType="VARCHAR" />


	</resultMap>
	
	<delete id="deleteByAccountNumber" parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu May 05 
			18:22:10 CST 2016. -->
		delete from hms_staff
		where account_number = #{account_number,jdbcType=VARCHAR}
	</delete>
	<select id="selectByAccountNumber" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT * FROM hms_staff WHERE account_number = #{account_number,jdbcType=VARCHAR}
	</select>
	<select id="selectByDeptIdOrderByName" resultMap="BaseResultMap">
		SELECT * FROM hms_staff WHERE DEPARTMENT_ID = #{0} ORDER BY user_name
	</select>
	<select id="selectByDeptIdOrderByNameAndPosition" resultMap="BaseResultMap">
		select * from (select * from hms_staff where DEPARTMENT_ID= #{0} and position LIKE '%经理') as p2
		union
		select * from (select * from hms_staff where DEPARTMENT_ID= #{0} and position not LIKE '%经理' ORDER BY user_name) as p1
	</select>
	<delete id="deleteAll">
		delete from hms_staff where 1=1
	</delete>
	<select id="selectPendingForWx" resultMap="BaseResultMap">
		SELECT * FROM hms_staff WHERE ATTRIBUTE10 = 'PENDING' OR ATTRIBUTE10 IS NULL
	</select>
	
	
</mapper>
